<h1>About</h1>
<div class="hero-unit">
<p>
	<h3>If Facebook is the big party that everyone you know is at, then The 6th Degree is the inside joke that everyone cool is snickering about over in the corner.</h3>
</p>
<p>
	---
</p>
<p>
	The 6th Degree is a hyper-local parody news site where friends can log in and pen hilarious stories about their friends and then share them with those friends. It's The Onion meets your social network. 
</p>
<p>
	The truth is, most of our lives are incredibly boring. We only hit our 15 minutes of fame once, since only about 15 minutes of who we are and what we do matter to people outside of our immediate sphere of influence. We seldom celebrate the mundane, the trivial, and the blandest of memories with the people who care (or at least pretend to care) the most: our friends. Instead, these memories tend to get locked away and forgotten in an unmarked wooden box like the last scene of every Indiana Jones movie.
</p>
<p>
  To remedy such a tragic ending, The 6th Degree endeavors to take these events and vaunt them to an unnecessary status: news. We report on the lives of our friends. It provides a creative way to poke fun at ourselves while genuinely staying in touch and hopefully displaying some of the talent we have within our small community.
 </p>
 <p>
	If there’s one thing we take too seriously in life, it’s us. So in an effort to stay connected to the best people on earth (our friends), we here at the The 6th Degree create news stories from their lives and unabashedly embellish them.
 </p>
 <p>
  Welcome to your 15 minutes.
</p>
</div>